<%= form_for :session, url: session_path do |form| %>
    <div class="mb-3">
        <%= form.label :email, class: "form-label" %>
        <%= form.email_field :email, class: "form-control" %>
    </div>

    <div class="mb-3">
        <%= form.label :password, class: "form-label" %>
        <%= form.password_field :password, class: "form-control" %>
    </div>

    <div class="mb-3">
        <%= form.submit class: "btn btn-primary" %>
    </div>
<% end %>
