<dl>
    <dd>
        <h3>
            <%= process_step.title %>
            <!-- change badge color based on state? -->
            <span class="badge text-bg-primary rounded-pill"><%= ProcessStep.states[process_step.state].capitalize %></span>
            <a href="#" class="link-primary" data-bs-toggle="modal" data-bs-target="#<%= dom_id(process_step) %>"><i class="bi bi-pencil fs-4"></i></a>
            <%= link_to opportunity_process_step_path(process_step.opportunity, process_step), class: "link-danger", data: {turbo_method: :delete, turbo_confirm: "Are you sure?"} do %>
                <i class="bi bi-trash fs-4"></i>
            <% end %>
        </h3>
    </dd>

    <% if process_step.contacts.any? %>
        <dd>
            with <%= process_step.contacts.map(&:name).to_sentence %>
        </dd>
    <% end %>

    <%= render partial: "layouts/rich_text_area", locals: {content: process_step.notes} %>

    <% if process_step.scheduled_for.present? %>
        <dt>Scheduled for</dt>
        <dd><%= datetime_format_full(process_step.scheduled_for) %></dd>
    <% end %>

    <dt>Created at</dt>
    <dd><%= datetime_format_full(process_step.created_at) %></dd>
    <dt>Updated at</dt>
    <dd><%= datetime_format_full(process_step.updated_at) %></dd>
</dl>
