<h1>Edit Opportunity: <%= @opportunity.company_name%></h1>

<div class="row py-3">
    <%= link_to "View all Opportunities", opportunities_path %>
    <%= link_to "Show Opportunity: #{@opportunity.company_name}", @opportunity %>
</div>

<%= render partial: "form", locals: {opportunity: @opportunity} %>
<div class="mt-3">
    <%= button_to "Delete", @opportunity, method: :delete, class: "btn btn-danger", data: {turbo_confirm: "Are you sure?"} %>
</div>
