<h1>Stats</h1>

<div class="row">
    <div class="col">
        Opportunities: <%= @opportunities_count %>
        <br />
        Interviews: <%= @interviews_count %>
        <br />
        Opportunities with most interviews (<%= @max_interviews_count %> interviews):
        <%=  Opportunity.find(@opportunities_with_most_interviews).pluck(:company_name).to_sentence %>
    </div>
</div>

<div>
  <canvas id="interviews-per-day"></canvas>
</div>

<!-- don't need this on evert page !-->
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

<script>
  var mychart = document.getElementById('interviews-per-day');

  new Chart(mychart, {
    type: 'bar',
    data: {
      labels: <%= @interviews_per_day.keys.map { |date| date.strftime("%a, %d %b %Y") }.to_json.html_safe %>,
      datasets: [{
        label: '# of interviews per day',
        data: <%= @interviews_per_day.values.to_json.html_safe %>,
        borderWidth: 1
      }]
    },
    options: {
      scales: {
        y: {
          beginAtZero: true
        }
      }
    }
  });
</script>
